:root {
  --animation: fadeIn linear 1.2s;
}

body {
background-color: #212121;
}

.IntroText {
  font-family: 'Ubuntu', sans-serif;
  color: white;
  font-size: 50px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.IntroCredit {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}

a {
  color: white;
  text-decoration: None;
}

.fade-in-text {
  display: inline-block;
  animation: var(--animation);
  -webkit-animation: var(--animation);
  -moz-animation: var(--animation);
  -o-animation: var(--animation);
  -ms-animation: var(--animation);
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-moz-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-webkit-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-o-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}

@-ms-keyframes fadeOut {
  0% {opacity:1;}
  100% {opacity:0;}
}